<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/"><img src="assets/img/logo.png"></a>
    <div class="navbar-expand">
      <div class="navbar-nav">
        <a class="nav-item nav-link" RouterLinkActive="active" href="/archival">Archival</a>
        <a class="nav-item nav-link" RouterLinkActive="active" routerLink="/reports" >Reports</a>
        <a class="nav-item nav-link" RouterLinkActive="active"  routerLink="/archival/faq">FAQ</a>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        
        <a class="nav-item nav-link" href="#login">
          <i class="fa fa-sign-in"></i>
        </a>
      </div>
    </div>
  </nav>