<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
      <h6 class="display-5">Welcome, Database Archival Application!</h6>
      <p>Data archiving is the process of moving data that is no longer actively used to a separate storage device for long-term retention. Archive data consists of older data that is still important to the organization and may be needed for future reference, as well as data that must be retained for regulatory compliance</p>
      <p><a class="btn btn-primary btn-lg" routerLink="/archival/add" role="button">Start Archival</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <p class="text-center">Inprogress</p>
    </div>

    <hr>

  </div> <!-- /container -->
